/*
   General
------------------------------------------------------------------- */

html {
	font-size: 10px;
	height: 100%;
	line-height: 12px;
	vertical-align: bottom;
	width: 700px !important;
}

body {
	width: 700px !important;
	font: normal 10px Verdana,sans-serif;
	background: #ddd
}

#header {
	font-weight: bold;
	border-bottom: 1px solid #333;
	height: 48px;
	margin-bottom: 10px;
	width: 700px;
}

/*
   Typography
------------------------------------------------------------------- */

p {
	line-height: 11px;
	padding: 0px 0px 0px 0px;
	margin: 8px 0px 8px 0px;
	text-align: justify;
}

h1 {font: normal 28px Verdana,sans-serif;}
h2 {font: normal 22px Verdana,sans-serif;}
h3 {font: normal 18px Verdana,sans-serif;}
h4 {font: normal 14px Verdana,sans-serif;}
h5 {font: bold 12px Verdana,sans-serif;}
h6 {font: bold 12px Verdana,sans-serif;}

h1,h2,h3,h4,h5,h6 {margin-bottom: 0px; margin: 8px 0px 8px 0px;}

.width600 { width: 480px !important; }
#header .name { font-size: 28px; font-weight: bold; width: 400px; }
/*
   Lists
------------------------------------------------------------------- */

dl {margin-bottom: 10px;}
dt,dd {padding: 8px 10px;}
dt {
	border-bottom: 1px solid #CCB;
	font-weight: bold;
}
dd {
	border-bottom: 1px solid #DDC;
	padding-left: 16px;
}

ul {
	font: normal 11px Verdana,sans-serif;
	list-style: square;
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 5px 0px;
}

li { margin-left: 30px; }

/*
   Box
------------------------------------------------------------------- */

.box {
	margin-bottom: 0px;
}
.box_title {
	border-bottom: 1px solid #665;
	color: #665;
	font-weight: bold;
	padding: 5px 8px;
	width: 700px;
}
.box_title_highlighted { color: #303030; }
.box_content {overflow:auto;padding: 0px 0 4px;}
.box li {
	border-top: 1px solid #DDC;
	padding: 4px 6px;
}
.box li:first-child {border-top: none;}

/*
   Images
------------------------------------------------------------------- */

.bordered {
	border: 1px solid #DDD;
	padding: 3px;
}

img.left {margin: 0 15px 12px 0;}
img.right {margin: 0 0 15px 12px;}


/*
   Floats and Centering
------------------------------------------------------------------- */
.center { margin-left: auto; margin-right: auto; text-align: center; }
.left   { float: left; }
.right  { float: right; }
.clear  { clear: both; }

.two_columns {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}
.three_columns {
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;

